name: tests

on:
  push:
    branches:
      - "**"

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Run tests
        run: |
          pytest --nbmake **/*ipynb
